/*  @import "css-tei-framework/tei_oxygen.css"; */
@namespace oxy url('http://www.oxygenxml.com/extensions/author');
@namespace tei url('http://www.tei-c.org/ns/1.0');

/* revisionDesc-Ansicht */


teiHeader {
    display:block;
}

titleStmt title {
    display:block;
    font-weight:bold;
    font-size:x-large;
    margin-bottom:20px;
}

respStmt, sourceDesc, profileDesc {
    display:none;
}

revisionDesc {
    display:block;
    background-color: #FFFFF0;
    border: 2px solid black;
}

publisher, pubPlace, licence {
    display:none;
}

publicationStmt date {
    display:none;
}

availability {
    display:none;
}


publicationStmt idno {
    display:block;
}

publicationStmt idno[subtype='legalkraus']:after {
    display:inline-block;
    content:' [ansehen]'; 
    link:oxy_xpath("concat('https://legalkraus.acdh-dev.oeaw.ac.at/manage.html?id=',substring-after(./text(),'https://legalkraus.acdh.oeaw.ac.at/id/'))");
}

publicationStmt idno[subtype='krausonline']:after {
    display:inline-block;
    content:' [ansehen]'; 
    link:oxy_xpath("./text()");
}

publicationStmt idno[subtype='transkribus'] {
    display:none;
}

text {
    display:none;
}

facsimile {
    display:none;
}

/* Status des Dokuments */

revisionDesc:before {
    content: "\a Bearbeitungsstand des Dokuments: " oxy_combobox( edit, "@status", editable, false, values, "done, not-done", labels, "done, not done");
}

/* Changes */

change {
    display:block;
    border: 1px solid #A9A9A9;
}
     
change:after {
    display:block;
    padding-left:20px;
    content: "\a erledigter Arbeitsschritt: " oxy_combobox( edit, "@type", editable, false, values, "header_facsimile, structure, references, typography, intertexts, corrections", labels, "TEI-Header und Faksimile, Textgliederung, Referenzen, Typographisches, Intertexte, Korrekturen") 
    "\a" "Verantwortliche_r: " oxy_combobox( edit, "@who", editable, false, values, "#IL, #JK, #IB, #LU", labels, "Isa, Johannes, Ingo, Laura") 
    "\a" "Wann (iso): " oxy_datePicker(columns, 16, edit, "@when-iso", format, "yyyy-MM-dd");
}

change:before {
    display:block;
    padding-left:20px;
    content: "\a Beschreibung der Änderung: " oxy_textfield( edit, "#text", values, " ", color, "black", columns, 30); 
}